@use "presets" as *;
@use "mixins" as *;

.footer {
  padding-top: $gap * 3;
  background-color: $color-dark;
  color: $color-gray;

  ul {
    padding: 0;
    list-style: none;
  }

  a {
    color: $color-gray-dark;

    &:hover {
      color: $color-white;
    }
  }
}

.footer-fifth {
  margin: 20px 0;
  text-align: center;

  a {
    color: $color-gray;
  }
}
